@import "~@/styles/scss/variable.scss";

html,
body {
    color: $font-color-default;
    font-family: PingFang SC-Bold, PingFang SC !important;
    background: $input-bg-color;
}

p {
    padding: 0;
    margin: 0;
}