/* 样式变量 */

// 卡片背景颜色
$card-bg-color:#fff;

// 文字默认颜色
$font-color-default:#333;

// 边框颜色
$border-color:#ebedf0;

// 按钮主要颜色
$primary-color:#0077ff;

// 禁用状态背景颜色
$disable-bg-color:#F6F8FA;

// 禁用状态背景文字
$disable-color:#999999;

// 输入框背景颜色
$input-bg-color:#f7f7f7;

// 页面背景颜色
$page-bg-color:#f3f5f9;

// 卡片按钮背景颜色
$btn-card-bg-color:#e8f3ff;